# Dependencies
node_modules/

# Environment variables (secrets & private keys)
.env

# Vercel
.vercel

# Logs
*.log


# Docker (not needed for Vercel)
Dockerfile
.dockerignore

# Old deploy scripts
*.bat
deploy_log.txt

# Misc
README.md
